@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ReadingRegular';
  src: url('/font/Reading Regular.otf') format('opentype'),
       url('/font/Reading Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

 /* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}  */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .nav-link{
    @apply text-black hover:text-hover
  }

  .tab-btn{
    @apply bg-neutral-100 text-black text-sm font-bold px-16 py-3 rounded-t-xl max-lg:px-4 max-lg:text-xs
  }

  .tab-btn-active{
    @apply bg-neutral-300 text-black text-sm font-bold px-16 py-3 rounded-t-xl max-lg:px-4 max-lg:text-xs
  }

  .tabl-text{
    @apply text-xs text-black font-semibold flex h-full items-center
  }
  .tabl-text.tabl-text-hover{
    @apply hover:opacity-70 cursor-pointer
  }
  .tabl-grid{
    @apply py-2 px-8 rounded-3xl grid gap-4 grid-flow-col items-center auto-cols-fr grid-cols-[33px_1fr]
  }

  .input-violet{
    @apply min-w-56 w-full placeholder-violetlg shadow appearance-none border-2 border-violetlg hover:border-violet rounded-2xl py-2 px-3 text-violet leading-tight focus:outline-none
  }

  .input-gray{
    @apply col-span-2 w-full px-3 bg-gray-200 border-gray-300 border hover:border hover:border-gray-500 rounded-md h-8 focus:outline-none focus:border-gray-500
  }

  .button-violet{
    @apply min-w-56 w-full text-white bg-violet shadow appearance-none border-2 border-violet hover:border-violetlg rounded-2xl py-2 px-3  leading-tight focus:outline-none
  }

  .button-green{
    @apply hover:bg-opacity-75 w-full text-[#424e5c] bg-hover shadow appearance-none rounded-md py-1 px-7  leading-tight
  }

  .add-form-grid{
    @apply grid grid-flow-col grid-cols-3 items-center gap-3
  }

  .sign-input{
    font-family: 'ReadingRegular', sans-serif;
    outline: none;
    caret-color: transparent;
  }

  p{
    @apply my-3 text-sm
  }

  h2{
    @apply font-bold
  }

  ul{
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    list-style: disc;
    padding: 0;
    margin: 16px;
  }
  

  
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1.5s infinite;
}

/* .container{
  width: 92vw;
  max-width: 1650px;
  margin-left: auto;
  margin-right: auto;
} */